div.container {
  text-align: center;
  width: 20%;
  margin: auto;
}

h4 {
  margin: 5px;
  font-family: "Brandon Grotesque", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  color: rgb(236 39 39 / 82.9%);
  letter-spacing: 0.5px;
}

p.name {
  margin-top: 3px;
  margin-bottom: 0;
  text-align: left;
  font-size: 8px;
  padding-left: 8px;
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

p.place {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  font-size: 8px;
  padding-left: 8px;
  margin-bottom: 0;
}

p.hire-time {
  font-size: 45%;
  margin: 0;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding-left: 8px;
}

input {
  width: 100%;
  margin: 3px;
  border: solid rgb(200 203 206);
  border-width: 1px;
  border-radius: 3px;
}

label.email {
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  font-size: 8px;
  font-weight: 500;
  padding-left: 8px;
}

label.name {
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 8px;
  font-weight: 500;
  padding-left: 8px;
}

label.place {
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 8px;
  font-weight: 500;
  padding-left: 8px;
}

div.company-email {
  text-align: left;
}

div.for-name-text {
  text-align: left;
}

div.place-container {
  text-align: left;
}

div.select-container {
  margin-top: 5px;
}

select {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 8px;
  margin: 3px;
  width: 100%;
  background-color: rgb(241 240 240);
  border-radius: 4px;
  padding: 2px;
  border-color: rgb(200 203 206);
}

button {
  border-radius: 80px;
  border-style: hidden;
  font-family: "Brandon Grotesque", sans-serif;
  color: white;
  background-color: rgb(236 39 39 / 82.9%);
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 500;
  padding: 3px 10px;
}

div.button-container {
  margin: 0;
  text-align: right;
}

::placeholder {
  font-size: 9px;
  padding-left: 3px;
}
