* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

div.row {
  display: flex;
}

div.column-one-third {
  width: 33%;
}

div.column-one-fourth {
  flex-basis: 25%;
}

img {
  width: 100%;
}

div.column-two-thirds {
  flex-basis: 66%;
}
