body {
  font-family: "DM Sans", sans-serif;
  padding: 10px 170px 0;
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  width: 100%;
}

.display-flex {
  display: flex;
}

h1 {
  text-align: center;
}

.column-width-20 {
  width: 20%;
}

img {
  width: 100%;
  height: 335px;
  box-sizing: border-box;
}

.margin {
  margin: 10px;
}

p {
  font-weight: bold;
}

.price-highlight {
  background-color: #f7bd8b45;
}

.font-color {
  color: #b1b3b163;
}

.object-fit {
  object-fit: cover;
}
