.container {
  max-width: 100%;
  margin: auto;
}

.display {
  padding-top: 10px;
}

.row { /* utility container for rows */
  width: 100%;
  display: flex;
  padding-bottom: 5px;
  align-items: center;
}

.heading {
  padding-left: 130px;
  padding-right: 130px;
  border-bottom: solid 1px rgb(206 206 206);
}

.column-logo {
  flex-grow: 1;
}

.column-navigate {
  flex-direction: row;
}

.second { /* second row */
  padding-left: 130px;
  padding-right: 130px;
  height: 850px;
}

.logo { /* first row logo */
  width: 130px;
}

.hero { /* for second row img */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  position: relative;
}

.column-hero-container {
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 1258px;
  height: 708.3px;
  background: #00000047;
}

li.navigate {
  display: inline;
  padding: 25px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(160 160 160);
}

button {
  background-color: rgb(29 66 112);
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: 0;
}

.column-button-heading {
  padding: 12px 15px;
}

.button-get-started {
  padding: 20px 60px;
  font-size: 20px;
}

button.position { /* button on the img */
  position: absolute;
  left: 218px;
  bottom: 20px;
}

.column-text-container {
  position: absolute;
  top: 157px;
  left: 195px;
  width: 40%;
  color: white;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: "Tiempos Headline", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 500;
}

.text { /* for utility container */
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.text-in-img {
  font-size: 18px;
  padding-left: 20px;
}

.third { /* for third row */
  height: 500px;
  justify-content: center;
  flex-flow: row wrap;
  background: #d3d3d321;
  color: #666363;
  border-bottom: solid 1px rgb(206 206 206);
}

.column-full {
  width: 100%;
  flex-grow: 2;
}

.column-halves {
  width: 50%;
  height: 50%;
}

h3 { /* h3 utility container */
  font-family: "Tiempos Headline", sans-serif;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 0;
}

.text-top { /* in row 3 */
  margin: auto;
  width: 33%;
  text-align: center;
}

.list {
  text-align: center;
}

.locations { /* in row 3 */
  font-size: 18px;
  width: 60%;
  margin: auto;
}

li.place { /* in row 3 */
  line-height: 50px;
}

.fourth {
  padding-left: 130px;
  padding-right: 130px;
  height: 200px;
  color: #666363;
}

.column-half { /* columns in row 4 */
  width: 50%;
}

.button-container {
  text-align: end;
}

.fifth {
  height: 400px;
  background: rgb(48 48 48 / 82%);
  padding-right: 130px;
  padding-left: 130px;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-white {
  align-items: center;
}

.under-logo { /* row5 contact info */
  padding-left: 0;
}

.row-5-company {
  margin-top: 0;
}

.column-one-third {
  padding-top: 100px;
}

.half-company {
  margin-left: 150px;
}

.half-product {
  margin-right: 150px;
}

.text-size { /* for row 5 company and product */
  font-size: 20px;
  line-height: 40px;
}

.last {
  padding-left: 130px;
  padding-right: 130px;
  height: 120px;
  color: #666363;
}

.last-row { /* for display li in inline */
  display: inline;
  margin-right: 40px;
}

.last-padding {
  padding-left: 0;
}
